# This is a sample file for the .env file
# Copy this file and rename it to .env
# Fill in the values for the variables
PORT=3000
DB_URL=postgres://postgres:Test1234@localhost:5432/postgres?schema=public
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=00000000-0000-0000-0000-000000000000
JWT_REFRESH_SECRET=00000000-0000-0000-0000-000000000000
